.wrapper {
    width: 50%;
}

.container {
    display: flex;
}

h3 {
    text-align: center;
    text-transform: uppercase;
}

h4 {
    padding-left: 10px;
}

ul {
    padding: 0 25px;
}

.mainImg {
    float: left;
    margin-right: 15px;
}

.firstCol {
    width: 150px;
    background: #F0E68C;
    float: left;
    margin-right: 20px;
}

.secondCol {
    background: url("images/ball.png") repeat-y right;
}

.title {
    text-transform: uppercase;
    color: #0000FF;
    font-weight: bold;
    text-align: center;
    font-size: 20px;
    padding: 20px;
    background: #87CEFA;
    min-width: 442px;
}

.bottom {
    clear: left;
}
